datasets==3.0.1
python-dotenv
soundfile
librosa
aiogram
torch
torchinfo
fairseq==0.12.2
tensorboard
transformers
datasets
pylint
omegaconf
pydantic-settings
fastapi
uvicorn
pillow
streamlit
flake8
jiwer==3.1.0
