python-dotenv
torch
torchinfo
omegaconf==2.0.6
pylint~=3.3.1
datasets~=3.0.1
soundfile~=0.12.1
librosa~=0.10.2.post1
torchinfo~=1.8.0
fairseq~=0.12.2
transformers~=4.47.1
huggingface-hub~=0.25.1
fastapi~=0.115.6
uvicorn~=0.34.0
pydantic-settings~=2.6.1
python-multipart~=0.0.19
flake8
aiogram
pillow
flake8
streamlit==1.30.0
requests==2.32.2
requests-toolbelt==1.0.0
plotly
aiohttp
httpx
